h1{
    text-align: center;
    font-size: 100px;
    color: black;
}
body{
background-image:url("frutas.jpg") ;
background-size: cover;
}
h1{
    text-align: center;
    color: rgb(255, 0, 43);
    font-size: 50px;
}
.botao{
    background-color: blue;
    color: rgb(255, 0, 0);
    border: none;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}
.cabecalho{
    border-style: groove;

border-color: gold;
}